@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


:root {
  --font-family: 'Outfit', sans-serif;
  
  --color-bg: #2F3538;
  --navbar-text: white;
}